{% extends "templates/base.html" %}
{% block title %} Fontane Notizbücher: Quantitative research {% endblock %}
{% block scriptHeader %}
    <style>
        .container-fluid{
            max-width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
<div class="hfeed side" id="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <ul style="display:inline;list-style:none;">
                    {% for x in objects %}
                        {% if "Notizbuch" in x.title %}
                        <li style="display:inline;font-weight:bold;padding:.5em;">
                            <a href="#interal___{{ x.title|replace("Notizbuch ", "") }}">{{ x.title|replace("Notizbuch ", "") }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                {% for x in objects %}
                    {% if "Notizbuch" in x.title %}
                    <div class="card" id="interal___{{ x.title|replace("Notizbuch ", "") }}">
                        <div class="card-header">
                            <h2>Title: {{ x.title }}</h2>
                            <h5>Filename: {{ x.filename }}</h5>
                            <h5>Total count of nodes: {{ x.total_count }}</h5>
                            {% if x.date_e|length > 0 %}
                            <h5>Date*Editorial: {{ x.date_e[0] }}</h5>
                            {% endif %}
                            {% if x.date_a|length > 0 %}
                            <h5>Date*Authorial: {{ x.date_a[0] }}</h5>
                            {% endif %}
                            {% if x.date_f|length > 0 %}
                            <h5>Date*Fontane: {{ x.date_f[0] }}</h5>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>XPath</th>
                                        <th>Event*eve</th>
                                        <th>Literature, Sigla*lit</th>
                                        <th>Intitutions*org</th>
                                        <th>Places*plc</th>
                                        <th>Persons*psn</th>
                                        <th>Works*wrk</th>
                                        <!-- <th>Text Content</th> -->
                                        <th>No of Nodes</th>
                                        <th>Average wordcount of Text Content</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in x.xpath %}
                                    <tr>
                                        <td>{{ p.title }}</td>
                                        <td>{{ p.eve }}</td>
                                        <td>{{ p.lit }}</td>
                                        <td>{{ p.org }}</td>
                                        <td>{{ p.plc }}</td>
                                        <td>{{ p.psn }}</td>
                                        <td>{{ p.wrk }}</td>
                                        <!-- <td>
                                            <ul>
                                            {% for n in p.context %}
                                                <li>{{ n }}</li>
                                            {% endfor %}
                                            </ul>
                                        </td> -->
                                        <td>{{ p.count }}</td>
                                        {% if p.wordcount %}
                                        <td>{{ (p.wordcount|sum / p.wordcount|length)|round|int }}</td>
                                        {% else %}
                                        <td>N/A</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}