{% extends "templates/base.j2" %}
{% block title %} Fontane Notizbücher: Quantitative research {% endblock %}
{% block scriptHeader %}
    <style>
        .container-fluid{
            max-width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
<div class="hfeed side" id="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <ul style="display:inline;list-style:none;">
                    {% for x in objects %}
                        {% if "Notizbuch" in x.title %}
                        <li style="display:inline;font-weight:bold;padding:.5em;">
                            <a href="#interal___{{ x.title|replace("Notizbuch ", "") }}">{{ x.title|replace("Notizbuch ", "") }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                {% for x in objects %}
                    {% if "Notizbuch" in x.title %}
                    <div class="card" id="interal___{{ x.title|replace("Notizbuch ", "") }}">
                        <div class="card-header">
                            <h2>Title: {{ x.title }}</h2>
                            <h5>Filename: {{ x.filename }}</h5>
                            <h5>Total count of nodes: {{ x.total_count }}</h5>
                            {% if x.date_e|length > 0 %}
                            <h5>Date*Editorial: {{ x.date_e[0] }}</h5>
                            {% endif %}
                            {% if x.date_a|length > 0 %}
                            <h5>Date*Authorial: {{ x.date_a[0] }}</h5>
                            {% endif %}
                            {% if x.date_f|length > 0 %}
                            <h5>Date*Fontane: {{ x.date_f[0] }}</h5>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>XPath</th>
                                        <th>Event@ref*eve</th>
                                        <th>Literature@target*lit</th>
                                        <th>Institutions@ref*org</th>
                                        <th>Places@ref*plc</th>
                                        <th>Persons@ref*psn</th>
                                        <th>Works@ref*wrk</th>
                                        <!-- <th>Text Content</th> -->
                                        <th>No of Nodes</th>
                                        <th>Average wordcount</th>
                                        <th>Total wordcount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in x.xpath %}
                                    <tr>
                                        <td>
                                            {{ p.title }}
                                        </td>    
                                        {% if "tei:rs" in p.title %}
                                            <td><strong>{{ p.eve }}</strong></td>
                                            <td>N/A</td>
                                            <td><strong>{{ p.org }}</strong></td>
                                            <td><strong>{{ p.plc }}</strong></td>
                                            <td><strong>{{ p.psn }}</strong></td>
                                            <td><strong>{{ p.wrk }}</strong></td>
                                            {% elif "tei:ptr" in p.title %}
                                            <td>N/A</td>
                                            <td><strong>{{ p.lit }}</strong></td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            {% else %}
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                        {% endif %}                                
                                        <!-- <td>
                                            <ul>
                                            {% for n in p.context %}
                                                <li>{{ n }}</li>
                                            {% endfor %}
                                            </ul>
                                        </td> -->
                                        <td><strong>{{ p.count }}</strong></td>
                                        {% if p.wordcount %}
                                        <td><strong>{{ (p.wordcount|sum / p.wordcount|length)|round|int }}</strong></td>
                                        {% else %}
                                        <td>N/A</td>
                                        {% endif %}
                                        {% if p.count > 0 and p.wordcount %}
                                        <td>{{ (p.wordcount|sum / p.wordcount|length)|round|int * p.count }}</td>
                                        {% else %}
                                        <td>N/A</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    {% if "register" in x.title or "verzeichnis" in x.title or "Register" in x.title %}
                    <div class="card" id="interal___{{ x.title }}">
                        <div class="card-header">
                            <h2>Title: {{ x.title }}</h2>
                            <h5>Filename: {{ x.filename }}</h5>
                            <h5>Total count of nodes: {{ x.total_count }}</h5>
                            {% if x.date_e|length > 0 %}
                            <h5>Date*Editorial: {{ x.date_e[0] }}</h5>
                            {% endif %}
                            {% if x.date_a|length > 0 %}
                            <h5>Date*Authorial: {{ x.date_a[0] }}</h5>
                            {% endif %}
                            {% if x.date_f|length > 0 %}
                            <h5>Date*Fontane: {{ x.date_f[0] }}</h5>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>XPath</th>
                                        <th>Event</th>
                                        <th>Persons</th>
                                        <th>Places</th>
                                        <th>Literature</th>
                                        <th>Institutions</th>
                                        <th>Works</th>
                                        <th>No of Nodes</th>
                                        <th>Average wordcount</th>
                                        <th>Total wordcount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in x.xpath %}
                                    <tr>
                                        <td>
                                            {{ p.title }}
                                        </td>    
                                        <td><strong>{{ p.event }}</strong></td>
                                        <td><strong>
                                            {{ p.person }}
                                        </strong></td>
                                        <td><strong>{{ p.place }}</strong></td>
                                        <td><strong>{{ p.bibl }}</strong></td>
                                        <td><strong>{{ p.org }}</strong></td>
                                        <td><strong>{{ p.list }}</strong></td>                    
                                        <td><strong>{{ p.count }}</strong></td>
                                        {% if p.wordcount %}
                                        <td><strong>{{ (p.wordcount|sum / p.wordcount|length)|round|int }}</strong></td>
                                        {% else %}
                                        <td>N/A</td>
                                        {% endif %}
                                        {% if p.count > 0 and p.wordcount %}
                                        <td>{{ (p.wordcount|sum / p.wordcount|length)|round|int * p.count }}</td>
                                        {% else %}
                                        <td>N/A</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}