{% extends "templates/base.html" %}
{% block title %} Fontane Notizbücher: Quantitative research {% endblock %}
{% block scriptHeader %}
    <style>
        .container-fluid{
            max-width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
<div class="hfeed side" id="page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    {% for x in objects %}
                        {% if x.total_notes %}
                            <h1>Editorial Notes gesamt: {{ x.total_notes }}</h1>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-12">
                {% for x in objects %}
                    <div class="card">
                        <div class="card-header">
                            <h2>Title: {{ x.title }}</h2>
                            <h5>Filename: {{ x.filename }}</h5>
                            <h5>Total count of nodes: {{ x.total_count }}</h5>
                            <h5>Editorial: {{ x.date_e }}</h5>
                            <h5>Authorial: {{ x.date_a }}</h5>
                            <h5>Fontane: {{ x.date_f }}</h5>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Event</th>
                                        <th>Literatur, Siglen</th>
                                        <th>Körperschaften, Inst.</th>
                                        <th>Orte</th>
                                        <th>Personen</th>
                                        <th>Werke</th>
                                        <th>Context</th>
                                        <th>No of items</th>
                                        <th>Average wordcount of context</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for p in x.xpath %}
                                    <tr>
                                        <td>{{ p.title }}</td>
                                        <td>{{ p.eve }}</td>
                                        <td>{{ p.lit }}</td>
                                        <td>{{ p.org }}</td>
                                        <td>{{ p.plc }}</td>
                                        <td>{{ p.psn }}</td>
                                        <td>{{ p.wrk }}</td>
                                        <td>
                                            <ul>
                                            {% for n in p.context %}
                                                <li>{{ n }}</li>
                                            {% endfor %}
                                            </ul>
                                        </td>
                                        <td>{{ p.count }}</td>
                                        {% if p.wordcount and "tei:note" in p.title or "tei:abstract" in p.title %}
                                        <td>{{ (p.wordcount|sum / p.wordcount|length)|round|int }}</td>
                                        {% else %}
                                        <td>0</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}